<footer>
    <div>

        <div>
            <h3>My first Angular</h3>
            <p>My first Angular app with a footer component</p>

            <i class="fa-brands fa-instagram fa-2x" style="color:#E4405F;"></i>
            <i class="fa-brands fa-linkedin fa-2x" style="color:#0A66C2;"></i>
            <i class="fa-brands fa-facebook fa-2x" style="color:#1877F2;"></i>
            <i class="fa-brands fa-x-twitter fa-2x" style="color:#000000;"></i>
            <i class="fa-brands fa-youtube fa-2x" style="color:#FF0000;"></i>
            <i class="fa-brands fa-github fa-2x" style="color:#181717;"></i>

        </div>

        <div>
            <h4>Links</h4>
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/activities" routerLinkActive="active">Activities</a></li>
                <li><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Sign In</a></li>
            </ul>
        </div>

        <div>
            <h4>Contact</h4>
            <p>Email: info@myfirstangular.com</p>
            <p>Phone: +123 456 7890</p>
            <p>Address: 123 Angular St, Angular City, AC 12345</p>
        </div>
    </div>

    <div>
        <p>© 2025 My first Angular</p>
    </div>

</footer>